body {
  background: white;
  color: black;
  font-family: "Helvetica", "Arial", sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

a {
  color: black;
  text-decoration: underline;
}

header, nav, footer {
  background: white !important;
  border: none !important;
  box-shadow: none !important;
}
